<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="css/boys.css" rel="stylesheet" type="text/css">
    <title>About Us</title>
</head>
<body>
    <h1>About Us!</h1>
    
    <h2>Our Purpose</h2>
    <i>We feel like there is a gap in mental health services availible, by creating this website, we can help begin to shrik the gap.  Not to mention, people are able to find sources to begin recieving help, anonymously.</i>
    
    <h3>Alyssa</h3>
        <h4>Alyssa is 15 years old and is in her school band. Alyssa lives in St.Louis Missouri and loves working with little kids!</h4>
    <h3>Bella</h3>
    <h4>Bella lives in St. Louis, MO. She is a dancer, a beginning coder, and loves Disney. Her favorite school subject is math. She loves dogs, especially wiener dogs. She also has a little sister. Her mom is a therapist, and her dad is a firefighter/paramedic. She lives in a house full of health!</h4>

    <h3>Camille</h3>
    <h4>I live in St. Louis, I'm fourteen and about to go into the 9th grade this year at Rosati Kain high school.</h4>
</body>
</html>