  <!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Depression and Anxiety</title>
        <link href="css/girls.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Depression and Anxiety</h1>
        <h2> You selected a symptom associated with depression and/or anxiety.</h2>
        <h2>Now what?</h2>
        <h3>Analyze the symptoms below and if you have two or more of these symptoms, please tell a trusted adult or use one of our listed resources to get help. </h3>
        <ul class=symptoms>
            <li>Sadness lasting for more than two weeks</li>
            <li>Constant fatigue</li>
            <li>Difficulty concentrating and paying attention</li>
            <li>Often feeling angry and easily irritated</li>
            <li>Loss of interest in things that you usually enjoy</li>
            <li>Frequent head/stomach aches</li>
            <li>Low self esteem</li>
            <li>Contemplate death/suicide</li>
            <li>Feeling tempted to harm yourself or someone else</li>
        </ul>
        <p class=suicide>*If either of the last two symptoms apply to you please seek medical help immediatley, or call the National Suicide Prevention Lifeline at (800) 273-8255*</p>
        
        <h2>Two or more symptoms apply to me, now what do I do?</h2>
        <ul>
       <li>Keep in mind things will get better, whether you realize it or not</li>
       <li>Contact your primary care physician and ask for a reccomended counselor to visit</li>
       <li>Know that you are not alone, 20% of teens struggle with depression before reaching adult hood. </li>
       <li>Remember that these feelings aren't pernament</li>
       <li>If you're having a down day, make a small goal, such as showering or chaging the sheets, and aim to accomplish it</li>
       <li>If you were like everyone else, you would be a robot, and you're a human</li>
       <li>Someone has been through this before, and you'll get through this</li>
       </ul>
       <h2>If none of the above symptoms apply to you, it is likely that you're struggling from anxiety</h2>
       <h3>Some things to think about</h3>
       <ul>
           <li>You're judging yourself more than anyone else is judging you</li>
           <li>It's okay to be nervous</li>
           <li>Try to think about the bigger picture</li>
           <li>Surround yourself with people who can help you</li>
           <li>You don't see yourself the way everyone else does</li>
           <li>There are ways to cope</li>
       </ul>
       
       <h3>Coping Strategies</h3>
       <ul>
           <li>Grounding</li>
             <ol>
               <li>Find five objects you can see</li>
               <li>Find four things you can feel (your skin against your chair, etc.) </li>
               <li>Find three things you can hear</li>
               <li>Think of two things you can smell (or your favorite smell)</li>
               <li>Say one thing you like about yourself</li>
             </ol>
            <li>Apply a cold object to your pulse points(wrist, neck, etc.)</li>
            <li>Take long, slow deep breaths</li>
            <li>Number each exhale up to 10, then start at one again, repeat until calm</li>
           </ul>
       
       <p class=disclaimer>Disclaimer: if you or anyone you know if struggling with any of these symptoms please seek help with a medical professional or someone you trust</p>
       
    </body>
</html>