<!DOCTYPE html>
<html>
    <head>
        <link href="views/css/boys.css" rel="stylesheet" type="text/css">
        <title>Eating Disorders</title>
    </head>
    <body>
        <h1>Eating Disorders</h1>
        <h2> You have been brought to this page because you selected a symptom associated with an eating disorder.</h2>
        <h2>Now what?</h2>
        <h3>Analyze the symptoms below and if you have two or more of these symptoms, please tell a trusted adult or use one of our listed resources to get help. </h3>
        <hr>
        <h2>Anorexia</h2>
        <ol class=symptoms>
            <li>Refuse to eat/eat only small amounts</li>
            <li>Only eat foods low in calories and fat</li>
            <li>Play with food/cut it up so it looks eaten</li>
            <li>Have an unheathily low weight</li>
            <li>Afraid of gaining weight</li>
            <li>Exercise constantly</li>
            <li>Wear large clothes to hide the weight loss</li>
        </ol>
        <hr>
        <h2>Bulimia</h2>
        <ol class=symptoms>
            <li>Are sensitive about food - what, when, and how much you'll eat</li>
            <li>Save or hide food</li>
            <li>Spend lots of time thinking about your next eating binge</li>
            <li>Take a lot of diet pills and laxatives</li>
            <li>Have stomach aches, a sore throat, or tooth decay from vomiting a lot</li>
            <li>Exercise constantly</li>
        </ol>
        <h3>*If you match the symptoms of Anorexia or Bulimia, get help immediately. Just remember, it's okay to ask for help.*</h3>
    </body>
</html>