 <!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Girl's Page</title>
        <link rel="stylesheet" href="css/girls.css">
    </head>
    <body>
        <h1>Girl Power</h1>
        <h2> Here you will find a variety of coping mechanisms, techniques, and videos for your health as a young woman!</h2>
                <hr>
        <form class=identity action="grade.php" method="post" id="quiz">
   Which emotion do you feel most frequently?
</form>
<ul class=resorce_age>
  <li class=sadness width="110"><a href="views/depression.erb">Sadnesss</a></li>
  <li class=worried><a href="views/depression.erb">Worry/Inability to control worry</a></li>
  <li class=worthlessness><a href="views/depression.erb">Worthlessness</a></li>
  <li class=hopelessness><a href="views/depression.erb">Hopelessness</a></li>
  <li class=tired><a href="views/depression.erb">Fatigue/Difficulty Sleeping</a></li>
  <li class=appetite><a href="views/eatingdisorders.erb">Changes in Appetite</a></li>
            <li class=distress><a href="views/depression.erb">Distress</a></li>  
            <li class=isolation><a href="views/depression.erb">Isolation/Decreased Interest in Things You Used to Like</a></li>
                <li class=harm><a href="views/depression.erb">Self-harm/Injury</a></li>
        </ul>
    <hr>
    <h2>Self-Esteem Booster</h2>
    <h3>Just remember to be you. You don't have to be the girl with all the makeup. You don't have to have a boyfriend. You don't have to be the pretty girl. You don't have to fit those teenage stereotypes. All you have to remember is that life gets better after high school.</h3>
        <hr>
        <h2>Bullying: What You Can Do!</h2>
        <h3>There is a difference between what's bullying and what's not.
        Bullying is an imbalance of power and occurs day after day. It can be teasing, harrassment, aggression, taunting, and cruelty.</h3>
        <hr>
        <h3 class=you_bullied>What you should do if you are being bullied:</h3>
        <ol class=you>
            <li>Ignore the bully: if you don't acknowledge the bully, they'll probably stop because they think that what they're doing doesn't bother you.</li>
            <li>Speak up: you can use some clever comebacks, but don't use any that could get you in trouble with grown-ups.</li>
            <li>TELL AN ADULT: be sure to tell an adult, or else the bullying will continue.</li>
        </ol>
        <hr>
        <h3 class=friend_bullied>What you should do if your friend is being bullied:</h3>
        <ol class=friend>
            <li>Talk to your friend: tell your friend that the bully is wrong. Reassure him or her that he or she is great and shouldn't listen to the bully.</li>
            <li>TELL AN ADULT: telling an adult about bullying isn't considered tattling. Tattling is trying to make someone look bad, reporting is helping someone out.</li>
        </ol>
        <hr>
        <h3 class=dont>What you shouldn't do in a bullying situation:</h3>
        <ol class=dont_list>
            <li>Don't ignore the bullying</li>
            <li>Don't try to sort out the facts of the situation right away</li>
            <li>Don't force others to say what they saw publicly</li>
            <li>Don't talk to the kids together, talk to them seperately</li>
            <li>Don't force apologies out of anyone</li>
        </ol>
        <hr>
        <h2></h2>
        <iframe width="480" height="300" src="https://www.youtube.com/embed/tuL7WD_X4j4?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Source: https://youtu.be/tuL7WD_X4j4?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD</p>
        <iframe width="480" height="300" src="https://www.youtube.com/embed/yQBALsxoARs?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Source: https://youtu.be/yQBALsxoARs?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD</p>
        <hr>
    </body>
</html>