<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <title>Welcome to Santé Mentale</title>
    </head>
    <body>
        <h1>Welcome to Santé Mentale!</h1>
        <h2>We believe in giving everyone the resources they need to help themselves and loved ones cope with whatever challenges they may face, especially during their school years.</h2>
        <br>
        <h2>Resources:</h2>
<ul class=resorce_age>
  <li class=girls width="110"><a href="views/girls.erb">Girls</a></li>
  <li class=boys><a href="views/boys.erb">Boys</a></li>
  <li class=about><a href="views/about.erb">About</a></li>
</ul>
        <h2>Self Care Tips:</h2>
        <ol>
            <li class=sc>If it feels wrong, don't do it.</li>
            <li class= sc>Say exactly what you mean.</li>
            <li class= sc>Don't do things just to make people like you.</li>
            <li class=sc>Trust your instincts.</li>
            <li class=sc>Don't speak badly about yourself. If you do it, you'll believe it and so will others.</li>
            <li class=sc>Never give up on your dreams.</li>
            <li class=sc>Don't be afraid to say no.</li>
            <li class=sc>Don't be afraid to say yes.</li>
            <li class=sc>Be kind to yourself.</li>
            <li class=sc>Let go of what you can't control and focus on what you can.</li>
            <li class=sc>Stay away from any unnecessary drama or negativity.</li>
            <li class =sc>Love yourself!</li>
        </ol>
    <div>
    <iframe width="480" height="300" src="https://www.youtube.com/embed/_y97VF5UJcc?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Source: https://youtu.be/_y97VF5UJcc?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD</p>
    </div>
    <iframe width="480" height="300" src="https://www.youtube.com/embed/ETN7RXV_d3g?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Source: https://youtu.be/ETN7RXV_d3g?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD</p>
    <hr>
    <p>For those suffering from depression...</p>
    <iframe width="480" height="300" src="https://www.youtube.com/embed/opageCmErTg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Source: https://youtu.be/opageCmErTg</p>
    <hr>
    <h2>Helplines</h2>
    <p>Rant to someone, listen to someone's issues, or find a licensed therapist-<a href= "https://blahtherapy.com/chat-hub/">Blah Therapy</a></p>
    <p>If you're thinking of suicide:</p>
    <p>If you live in St. Louis, call BHR at (314) 469-6644.</p>
    <p>If not in St. Louis, call the National Suicide Prevention Lifeline at (800) 273-8255</p>
    <p>Anxiety coping techniques and support groups-<a href="https://www.remindsupport.org/what-is-anxiety/?gclid=CjwKCAjw68zZBRAnEiwACw0eYTpVdUSV-UhgCUz2VTWXGCTpCtxenJ0zlugQIc0dMTJtwfJYWvQrTxoClHkQAvD_BwE">Remind Support</a></p>
    <p>Text "safe" and your current location to 4HELP(44357). For immediate help, reply with "2chat".</p>
    <p>Skype a therapist <a href="https://www.onlinecounselling.com/online-skype-therapy/">Online Skype Therapy</a></p>
    <p>Depression quiz <a href="http://feelingkindablue.ning.com/page/depression-inventory">Feeling Kinda Blue</a></p>
    <hr>
    </body>
</html>